@tailwind base;

@tailwind components;

.screen-header {
  @apply tracking-custom my-16 text-center text-3xl font-semibold text-white px-3;
}

.button {
  @apply border-solid border-4 border-darkBrown rounded-lg bg-brown text-white text-2xl font-semibold tracking-custom shadow-md;
}

.flag-highlight {
  @apply rounded-lg border-4 transition-all duration-200 ease-linear;
}

.flag-highlight-correct {
  @apply flag-highlight border-lightGreen;
}

.flag-highlight-incorrect {
  @apply flag-highlight border-red;
}

.button-rectangle {
  width: 150px;
  height: 100px;
  @apply button;
}

.button-rectangle:first-child {
  margin-right: 8px;
}

.button-rectangle:active,
.button-rectangle:focus,
.button-wide:active,
.button-wide:focus {
  @apply shadow-outline;
}

.button-wide {
  width: 80%;
  height: 45px;
  @apply button mb-2 rounded-lg text-xl;
}

@tailwind utilities;
